{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My blog</h2>
    <p><a link href="/admin" target="_blank">Admin</a></p>
    <p><a link href="{% url 'blog:post_list' %}">Home</a></p>
    <p><a link href="{% url 'blog:new_post' %}">Submit new post</a></p>
  </div>
</body>
</html>